body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 15px;
}
.delivery-option h2 {
    margin: 0;
}
.delivery-information {
    font-size: 16px;
    padding-left: 20px;
}
.delivery-option .route {
    padding-left: 10px;
}
.delivery-option {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    padding: 15px;
    margin: 15px 0;
    cursor: pointer;
}

.delivery-option:hover {
    background: #f2f2f2;
}
.delivery-details-row {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
}
.top-bar {
    background: #2471FF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.8);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
}

.top-bar img {
    height: 80px;
    width: 80px;
    margin-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* MODAL */
.modal-header {
    background: #2471ff;
    color: white;
}
.transport-details {
    padding-bottom: 15px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
}
.transport-details h3 {
    margin: 0;
}
.order-details {
    padding-top: 15px;
}