<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <configSections>
    <section name="AfricaBoatGraph" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="AfricaCarGraph" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="AfricaAirplaneGraph" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <AfricaBoatGraph>
    <add key="Kapstaden" value="St. Helena, Kap St. Maria, Hvalbugten"/>
    <add key="St. Helena" value="Kapstaden, Dakar" />
    <add key="Dakar" value="De Kanariske Øer, Sierre Leone, St. Helena"/>
    <add key="De Kanariske øer" value="Dakar, Tanger" />
    <add key="Tanger" value="De Kanariske øer, Tunis"/>
    <add key="Tunis" value="Tanger, Cairo"/>
    <add key="Cairo" value="Tunis, Suakin"/>
    <add key="Suakin" value="Cairo, Kap Guardafui"/>
    <add key="Kap Guardafui" value="Suakin, Mocambique, Amatave"/>
    <add key="Amatave" value="Kap Gaurdafui"/>
    <add key="Mocambique" value="Kap Gaurdafui, Kap st. marie"/>
    <add key="Kap st. marie" value="Mocambique, Kapstaden"/>
    <add key="Hvalbugten" value="Slavekysten, Kapstaden"/>
    <add key="Slavekysten" value="Hvalbugten, Guldkysten"/>
    <add key="Guldkysten" value="Slavekysten, Sierra Leone"/>
  </AfricaBoatGraph>
</configuration>