<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="AfricaBoatGraph" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="AfricaCarGraph" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="AfricaAirplaneGraph" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <AfricaBoatGraph>
    <add key="Kapstaden" value="St. Helena, Kap St. Maria, Hvalbugten"/>
    <add key="St. Helena" value="Kapstaden, Dakar" />
    <add key="Dakar" value="De Kanariske Øer, Sierre Leone, St. Helena"/>
    <add key="De Kanariske øer" value="Dakar, Tanger" />
    <add key="Tanger" value="De Kanariske øer, Tunis"/>
    <add key="Tunis" value="Tanger, Cairo"/>
    <add key="Cairo" value="Tunis, Suakin"/>
    <add key="Suakin" value="Cairo, Kap Guardafui"/>
    <add key="Kap Guardafui" value="Suakin, Mocambique, Amatave"/>
    <add key="Amatave" value="Kap Gaurdafui"/>
    <add key="Mocambique" value="Kap Gaurdafui, Kap st. marie"/>
    <add key="Kap St. Marie" value="Mocambique, Kapstaden"/>
    <add key="Hvalbugten" value="Slavekysten, Kapstaden"/>
    <add key="Slavekysten" value="Hvalbugten, Guldkysten"/>
    <add key="Guldkysten" value="Slavekysten, Sierra Leone"/>
  </AfricaBoatGraph>
  <AfricaCarGraph>
    <add key="Kapstaden" value="Hvalbugten"/>
    <add key="Hvalbugten" value="Victoria Faldene"/>
    <add key="Victoria Faldene" value="Dragebjerget, Mocambique"/>
    <add key="Dragebjerget" value="Mocambique, Luanda"/>
    <add key="Mocambique" value="Zanzibar, Victoria Søen, Luanda, Dragebjerget"/>
    <add key="Zanzibar" value="Kap Guardafui"/>
    <add key="Kap Guardafui" value="Addis Abeba"/>
    <add key="Addis Abeba" value="Victoria Søen, Suakin"/>
    <add key="Suakin" value="Darfur"/>
    <add key="Darfur" value="Bahr El Ghazal, Slavekysten, Wadai, Sahara, Omdurman"/>
    <add key="Omdurman" value="Cairo, Tripoli"/>
    <add key="Tripoli" value="Tunis"/>
    <add key="Tunis" value="Tanger"/>
    <add key="Tanger" value="Sahara, Marrakesh"/>
    <add key="Marrakesh" value="Dakar"/>
    <add key="Dakar" value="Sierra Leone"/>
    <add key="Sierra Leone" value="Timbuktu, Guldkysten"/>
    <add key="Guldkysten" value="Timbuktu"/>
    <add key="Timbuktu" value="Slavekysten"/>
    <add key="Slavekysten" value="Wadai, Congo"/>
    <add key="Congo" value="Luanda"/>
    <add key="Luanda" value="Kabalo"/>
    <add key="Kabalo" value="Victoria Søen"/>
    <add key="Victoria Søen" value="Bahr El Ghazal"/>
  </AfricaCarGraph>
  <AfricaAirplaneGraph>
    <add key="Kapstaden" value="St. Helena, Hvalbugten, Kabalo, Dragebjerget, Amatave, Kap St. Marie"/>
    <add key="St. Helena" value="Sierra Leone"/>
    <add key="Sierra Leone" value="Marrakesh"/>
    <add key="Marrakesh" value="Guldkysten, Tanger"/>
    <add key="Tanger" value="Tripoli"/>
    <add key="Tripoli" value="Guldkysten, Darfur"/>
    <add key="Darfur" value="Suakin, Kabalo"/>
    <add key="Suakin" value="Cairo, Victoria Søen"/>
    <add key="Victoria Søen" value="Kap Guardafui, Dragebjerget"/>
    <add key="Amatave" value="Kap Guardafui"/>
    <add key="Guldkysten" value="Hvalbugten, Luanda,"/>
    <add key="Hvalbugten" value="Luanda"/>
  </AfricaAirplaneGraph>
</configuration>