<div ng-controller="MainController" ng-init='initData(@Html.Raw(Json.Encode(ViewBag.Locations)))'>
    @*<div class="integration-test">
        <button ng-click="testTelstar()">Test telstar</button>
        <button ng-click="testOceanic()">Test oceanic</button>
    </div>*@
    <div class="row delivery-details-row" ng-hide="showKvittering">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="inputFrom">Fra:</label>
                <select class="form-control" ng-model="selectedFromLocation" ng-options="location as location for location in locations" id="inputFrom">
                </select>
            </div>
            <div class="form-group">
                <label for="inputTo">Til:</label>
                <select class="form-control" ng-model="selectedToLocation" ng-options="location as location for location in locations" id="inputTo">
                </select>
            </div>
            <div class="form-group">
                <label for="inputDate">Forsendelsesdato:</label>
                <input type="date" class="form-control" min="{{getMinDateString()}}" ng-model="sendDate" id="inputDate"/>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="inputWeight">Vægt (kg):</label>
                <input type="number" class="form-control" ng-model="cargoWeight" id="inputWeight"/>
            </div>
            <div class="form-group">
                <label for="inputType">Type</label>
                <select class="form-control" id="inputType" ng-model="selectedCargoType" ng-options="cargoType.displayName for cargoType in cargoTypes">
                </select>
            </div>
            <div class="form-group">
                <label for="inputDimension">Længste dimension (cm):</label>
                <input type="number" ng-model="longestDimension" class="form-control" id="inputDimension"/>
            </div>
            <button type="submit" class="btn btn-default btn-primary" ng-click="getRoutesForDelivery(selectedFromLocation, selectedToLocation, cargoWeight, selectedCargoType,longestDimension, sendDate)">BEREGN</button>
        </div>
    </div>
    <div class="row" ng-hide="showKvittering">
        <div class="col-xs-12">
            <div class="delivery-options">
                <div ng-if="fastestRoute" class="delivery-option" ng-click="selectRoute(fastestRoute)" data-toggle="modal" data-target="#orderModal">
                    <h2>Hurtigste</h2>
                    <h4 ng-bind="generateRouteList(fastestRoute.RouteInfo.route)"></h4>
                    <div class="delivery-information">
                        <div>
                            <span><strong>Leveringsdato: </strong></span>
                            <span ng-bind="getDeliveryDate(queriedDate, fastestRoute.RouteInfo.TotalTime)"></span>
                        </div>
                        <div>
                            <span><strong>Pris: </strong></span>
                            <span ng-bind="fastestRoute.RouteInfo.TotalCost"></span>
                        </div>
                    </div>
                </div>
                <div ng-if="cheapestRoute" class="delivery-option" ng-click="selectRoute(cheapestRoute)" data-toggle="modal" data-target="#orderModal">
                    <h2>Billigste</h2>
                    <h4 ng-bind="generateRouteList(cheapestRoute.RouteInfo.route)"></h4>
                    <div class="delivery-information">
                        <div>
                            <span><strong>Leveringsdato: </strong></span>
                            <span ng-bind="getDeliveryDate(queriedDate, cheapestRoute.RouteInfo.TotalTime)"></span>
                        </div>
                        <div>
                            <span><strong>Pris: </strong></span>
                            <span ng-bind="cheapestRoute.RouteInfo.TotalCost"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="showKvittering && selectedRoute">
        <h1>Kvittering</h1>
        <h3 ng-bind="generateRouteList(selectedRoute)"></h3>
        <div>Leveringsdato: {{getDeliveryDate(queriedDate, selectedRoute.RouteInfo.TotalTime)}}</div>
        <div>Pris: {{selectedRoute.RouteInfo.TotalCost}}</div>
        <div>Type: {{selectedCargoType.displayName}}</div>
    </div>
    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Book transport</h2>
                </div>
                <div class="modal-body" ng-if="selectedRoute">
                    <div class="transport-details">
                        <h3 ng-bind="selectedRoute.RouteTypes === 0 ? 'Billigste' : 'Hurtigste'"></h3>
                        <h4 ng-bind="generateRouteList(selectedRoute.RouteInfo.route)"></h4>
                        <div>Leveringsdato: {{getDeliveryDate(queriedDate, selectedRoute.RouteInfo.TotalTime)}}</div>
                        <div>Type: {{selectedCargoType.displayName}}</div>
                        <div>Kundenummer: {{customerNo}}</div>
                        <div>Pris: {{selectedRoute.RouteInfo.TotalCost}}</div>
                        <div>Rabat: {{selectedRoute.RouteInfo.TotalCost*discount/100}}</div>
                        <div>Total: {{selectedRoute.RouteInfo.TotalCost-selectedRoute.RouteInfo.TotalCost*discount/100}}</div>
                    </div>
                    <div class="order-details">
                        <div class="form-group">
                            <label for="inputCustomerNo">Kundenummer:</label>
                            <input type="text" class="form-control" ng-model="customerNo" id="inputCustomerNo"/>
                        </div>
                        <div class="form-group">
                            <label for="inputDiscount">Rabat (%):</label>
                            <input type="number" ng-model="discount" class="form-control" id="inputDiscount"/>
                        </div>
                        <div>Pris efter rabat: {{selectedRoute.RouteInfo.TotalCost-selectedRoute.RouteInfo.TotalCost*discount/100}}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">ANNULLER</button>
                    <button type="button" class="btn btn-primary" ng-click="showKvittering=true" data-dismiss="modal">OPRET</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>