<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="AfricaBoatGraph" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="AfricaCarGraph" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="AfricaAirplaneGraph" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="PDIS" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbs-eitdk.database.windows.net;initial catalog=db-eitdk;persist security info=True;user id=admin-eitdk;password=Eastindia4thewin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>





  <AfricaBoatGraph>
    <add key="Kapstaden" value="St. Helena, Kap St. Marie, Hvalbugten" />
    <add key="St. Helena" value="Kapstaden, Dakar" />
    <add key="Dakar" value="De Kanariske Øer, Sierra Leone, St. Helena" />
    <add key="Sierra Leone" value="Guldkysten, Dakar, St. Helena" />
    <add key="De Kanariske Øer" value="Dakar, Tanger" />
    <add key="Tanger" value="De Kanariske Øer, Tunis" />
    <add key="Tunis" value="Tanger, Cairo" />
    <add key="Cairo" value="Tunis, Suakin" />
    <add key="Suakin" value="Cairo, Kap Guardafui" />
    <add key="Kap Guardafui" value="Suakin, Mocambique, Amatave" />
    <add key="Amatave" value="Kap Guardafui" />
    <add key="Mocambique" value="Kap Guardafui, Kap St. Marie" />
    <add key="Kap St. Marie" value="Mocambique, Kapstaden" />
    <add key="Hvalbugten" value="Slavekysten, Kapstaden" />
    <add key="Slavekysten" value="Hvalbugten, Guldkysten" />
    <add key="Guldkysten" value="Slavekysten, Sierra Leone" />
  </AfricaBoatGraph>
  <AfricaCarGraph>
    <add key="Kapstaden" value="Hvalbugten" />
    <add key="Hvalbugten" value="Victoria Faldene" />
    <add key="Victoria Faldene" value="Dragebjerget, Mocambique" />
    <add key="Dragebjerget" value="Mocambique, Luanda" />
    <add key="Mocambique" value="Zanzibar, Victoria Søen, Luanda, Dragebjerget" />
    <add key="Zanzibar" value="Kap Guardafui" />
    <add key="Kap Guardafui" value="Addis Abeba" />
    <add key="Addis Abeba" value="Victoria Søen, Suakin" />
    <add key="Suakin" value="Darfur" />
    <add key="Darfur" value="Bahr El Ghazal, Slavekysten, Wadai, Sahara, Omdurman" />
    <add key="Omdurman" value="Cairo, Tripoli" />
    <add key="Tripoli" value="Tunis" />
    <add key="Tunis" value="Tanger" />
    <add key="Tanger" value="Sahara, Marrakesh" />
    <add key="Marrakesh" value="Dakar" />
    <add key="Dakar" value="Sierra Leone" />
    <add key="Sierra Leone" value="Timbuktu, Guldkysten" />
    <add key="Guldkysten" value="Timbuktu, Sierra Leone" />
    <add key="Timbuktu" value="Slavekysten" />
    <add key="Slavekysten" value="Wadai, Congo" />
    <add key="Congo" value="Luanda" />
    <add key="Luanda" value="Kabalo" />
    <add key="Kabalo" value="Victoria Søen" />
    <add key="Victoria Søen" value="Bahr El Ghazal" />
    <add key="Bahr El Ghazal" value="Darfur, Victoria Søen" />
    <add key="Wadai" value="Darfur, Slavekysten, Congo" />
    <add key="Sahara" value="Tanger, Marrakesh, Darfur" />
  </AfricaCarGraph>
  <AfricaAirplaneGraph>
    <add key="Kapstaden" value="St. Helena, Hvalbugten, Kabalo, Dragebjerget, Amatave, Kap St. Marie" />
    <add key="St. Helena" value="Sierra Leone" />
    <add key="Sierra Leone" value="Marrakesh" />
    <add key="Marrakesh" value="Guldkysten, Tanger" />
    <add key="Tanger" value="Tripoli" />
    <add key="Tripoli" value="Guldkysten, Darfur" />
    <add key="Darfur" value="Suakin, Kabalo" />
    <add key="Suakin" value="Cairo, Victoria Søen" />
    <add key="Victoria Søen" value="Kap Guardafui, Dragebjerget" />
    <add key="Amatave" value="Kap Guardafui, Kapstaden" />
    <add key="Guldkysten" value="Hvalbugten, Luanda" />
    <add key="Hvalbugten" value="Luanda" />
  </AfricaAirplaneGraph>
</configuration>
