<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <configSections>
    <section name="connectionStrings" type="System.Configuration.ConnectionStringsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add connectionString="Data Source=tcp:dbs-eitdk.database.windows.net,1433;Initial Catalog=db-eitdk;User ID=admin-eitdk;Password=Eastindia4thewin" name="MS_TableConnectionString" providerName="System.Data.SqlClient" targetDatabaseEngineType="sqlazuredatabase" targetServerVersion="Version100" type="Sql"/>
  </connectionStrings>
</configuration>

